<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: header">
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/agenda.form.css}">

</head>
<body>
<div th:include=" index :: menu"></div>

<h2 th:text="${agenda.id == null ? 'Cadastrar Agendamento' : 'Editar Agendamento'}"></h2>

<form th:action="@{/agenda}" method="post" th:object="${agenda}">
  <input type="hidden" th:field="*{id}"/>

  <label for="medico">Médico:</label>
  <select id="medico" name="medico" th:field="*{medico}">
    <option th:each="medico : ${medicos}" th:value="${medico.id}" th:text="${medico.nome}"></option>
  </select><br>

  <label for="paciente">Paciente:</label>
  <select id="paciente" name="paciente" th:field="*{paciente}">
    <option th:each="paciente : ${pacientes}" th:value="${paciente.id}" th:text="${paciente.nome}"></option>
  </select><br>

  <label for="dataHora">Data e Hora:</label>
  <input type="datetime-local" id="dataHora" name="dataHora" th:field="*{dataHora}" required><br>

  <button type="submit" th:text="${agenda.id == null ? 'Cadastrar' : 'Salvar Alterações'}"></button>
</form>


</body>
</html>